# =========================
# Logs
# =========================
*.log
npm-debug.log
yarn-error.log

# =========================
# Environment files
# =========================
.env
.env.dev~
.env.backup
.env.production
!.env.example

# =========================
# Dependency directories
# =========================
/vendor
/node_modules

# =========================
# Build / Hot reload
# =========================
/public/build
/public/hot
/public/storage

# If public path changed
/public_html/storage
/public_html/hot

# =========================
# Storage
# =========================
/storage/*.key
/storage/pail

# Laravel 4 specific
/bootstrap/compiled.php
/app/storage/

# =========================
# IDE / Editor
# =========================
/.idea
/.vscode
/.fleet
/.nova
/.zed
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
.migrated

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Local / Dev tools
# =========================
auth.json
Homestead.yaml
Homestead.json
/.vagrant
